<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhishingReporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PhishingReporter.Properties.Settings>
            <setting name="infosec_email" serializeAs="String">
                <value>fatmanurbas1004@gmail.com</value>
            </setting>
            <setting name="gophish_url" serializeAs="String">
                <value>http://gophish.example.com</value>
            </setting>
            <setting name="gophish_listener_port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="gophish_custom_header" serializeAs="String">
                <value>X-GOPHISH-AJSMN</value>
            </setting>
            <setting name="support_email" serializeAs="String">
                <value>Plugin Support &lt;support@example.com&gt;</value>
            </setting>
            <setting name="plugin_version" serializeAs="String">
                <value>V1.1</value>
            </setting>
            <setting name="suspecious_reports_counter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gophish_reports_counter" serializeAs="String">
                <value>0</value>
            </setting>
        </PhishingReporter.Properties.Settings>
    </userSettings>
</configuration>